@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #e3ebf1;
  background-repeat: initial;
  background-size: cover;
  background-attachment: fixed;
  border-image: fill; }

h1 {
  color: #3a3835d0;
  font-weight: bold;
  background-color: #e3ebf1;
  font-size: 70px; }
  

p {
  font-style: oblique; }

.text-brown {
  color: #383731;
  color: #18120dd0;
  font-weight: bold; }

.size-15 {
  font-size: 15px; }

#primer {
  background-color: #ecebe2;
  padding: 25px; }

* {
  font-family: "Playfair Display", serif;
  text-decoration: solid;
  font-weight: bold; }

a {
  text-decoration: none;
  color: #e3ebf1; }

.caja p {
  background-position: 40px;
  background-color: none;
  margin: 5px;
  border: 14px double #383731;
  text-align: center; }

.navbare ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #383731;
  background-color: #fcf7e73f; }

.navbare {
  background-color: #fcf7e73f;
  height: 45px;
  padding: 0;
  margin: 0; }

.footer {
  color: aliceblue;
  background-color: #383731;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: right; }

.info {
  background-color: #e3ebf1;
  border: 14px double #383731;
  color: #18120dd0; }

.item {
  background-color: #ebeae8;
  border: 1px solid #fcf7e73f;
  font-family: 'Playfair Display';
  color: #ebe8e5d0;
  text-align: center; }

.ingred {
  font-weight: bolder; }

p {
  color: #292825; }

ul {
  color: #fcf7e73f; }

a {
  text-decoration: none;
  color: #18120dd0; }

.footer {
  color: aliceblue;
  background-color: #383731;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: right; }

.listas ul {
  list-style-type: none; }

.listi {
  font-weight: bold; }

.clasif {
  color: #18120dd0;
width: 90%;
margin: 10% auto; }

.clasif p {
  background-color: #3b8f7d; }

* {
  font-family: "Playfair Display", serif;
  color: #18120dd0; }

.envio {
  text-align: center;
  display: flow-root; }

#ofertas {
  @media screen { flex-direction: column
    
  }
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 25px;
  flex-direction: row;
  justify-content: space-around; }

#envios {
  max-width: 50%;
  border: 2px solid red;
  height: 30px;
  text-align: left; }

#regalos {
  max-width: 50%;
  border: 2px solid;
  height: 30px;
  text-align: right; }

#cuotas {
  max-width: 50%;
  border: 2px solid;
  height: 30px; }

.conoce {
  text-align: center; }

.footer {
  color: aliceblue;
  background-color: #383731;
  height: 45px;
  padding: 0;
  margin-top: 60px;
  text-align: right; }

.container {
  flex-direction: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.navbare {
  grid-area: 1 / 1 / 2 / 3; }

.form {

  margin: 10px;
  grid-area: 2 / 1 / 5 / 2; }

.texto {
  grid-area: 2 / 2 / 5 / 3; }

.footer {
  grid-area: 5 / 1 / 6 / 3; }

.carousel {
  grid-area: 2 / 2 / 5 / 3; }

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  text-align: left; }
  .hero h1 {
    font-size: 40px ; 
}

}

.footer {
  color: aliceblue;
  background-color: #18120dd0;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: right; }
  form * {
    margin: 10px;
}

.instrucciones {
  background-color: #fcf7e73f;
  background-position: 40px;
  background-color: none;
  margin: 15px;
  border: 11px double #fcf7e73f;
  text-align: center; }

.footer {
  color: aliceblue;
  background-color: #fcf7e73f;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: right; }

.titulo h1 {
  text-align: center; 
 padding: 5%;
 @media (max-width:768px) {
  .container {
 display: flex;
 flex-direction: column;
}

}

.contenedore {
  display: grid; }

.aboutus {
  background-color: #44999c;
  border: 1px solid #e3ebf1;
  padding: 1rem;
  font-family: 'Playfair Display';
  color: #18120dd0;
  text-align: center; 
  
}

.stylep {
  padding: 0 5%;
}