$color-primario: rgb(227, 235, 241);
$color-secundario: #18120dd0;
$color-terciario: #383731;
$color-cuarto: #fcf7e73f;
$color-quinto: aliceblue;
$colors: (primario:rgb(227, 235, 241), secundario:#18120dd0, terciario: #383731, cuarto:#fcf7e73f, quinto: aliceblue );
