*{
    font-family:'Playfair Display';
}

body {
    background-color:rgba(243, 234, 230, 0.842) ;
    
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    }
    a{ text-decoration: none;
        color: #0a0905f1
        
        
        }
        #primer {
             
        padding: 25px; 
        }
        .caja p{
            background-position: 40px ;
            background-color: none;
            margin: 5px;
            border: 14px double #a79c7049 ;
            text-align: center;
        }
.navbare ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #5551440c
        
        
        }
.navbare {
            background-color: #7a79763f;
            height: 45px;
            padding: 0;
            margin: 0
            ;
        }
.footer { 
            color: aliceblue;
            background-color: #c5c2b93f;
            height: 45px;
            padding: 0;
            margin: 0;
            text-align: right;
        }
.titulo h1 {
    text-align: center;
}       
.contenedore{
    
       display: grid;
    
     }
    .aboutus{
    
       background-color: #b39d8e2a;
       border: 1px solid #d4ccc5 color;
       padding: 1rem;
       font-family: 'Playfair Display';
       color: rgb(22, 20, 16);
       text-align: center;
     }
    