*{
    font-family:'Playfair Display';
}
body {
    background-color:rgba(243, 234, 230, 0.842) ;
    background-repeat:initial;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    }
    a{ text-decoration: none;
        color: #0a0905f1
        
        
        }
        ul {
            list-style-type: none;
            margin: 50;
            padding: 20;
        }
.navbare ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #d1ccb7b9
        
        
        }
.navbare {
            background-color: #a7a49d3f;
            height: 45px;
            padding: 0;
            margin: 0
            ;
        }
.footer { 
            color: aliceblue;
            background-color: #3b3b3a3f;
            height: 45px;
            padding: 0;
            margin: 0;
            text-align: right;
        }
.instrucciones {
    background-color: rgba(133, 127, 119, 0.315);
    background-position: 40px ;
    background-color: none;
    margin: 15px;
    border: 11px double #bebdbc77 ;
    text-align: center
}        