*{
    font-family:'Playfair Display';
   
}
body {
    background-color: #55463b86 ;
    background-repeat:initial;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    background: linear-gradient(rgba(228, 121, 22, 0.507), rgba(177, 110, 48, 0.596), rgba(190, 155, 108, 0.747), rgb(247, 247, 247))
    }
a{ text-decoration: none;
        color: #0a0905f1
        
        
        }
.navbare ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #61371c91
        
        
        }
.navbare {
            background-color: #3f34113f;
            height: 45px;
            padding: 0;
            margin: 0
            ;
        }
.footer { 
            color: aliceblue;
            background-color: #3f34113f;
            height: 45px;
            padding: 0;
            margin-top: 60px;
            text-align: right;
        }
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

    }

.navbare { grid-area: 1 / 1 / 2 / 3; }
.form { grid-area: 2 / 1 / 5 / 2; }
.texto { grid-area: 2 / 2 / 5 / 3; }
.footer { grid-area: 5 / 1 / 6 / 3; }
.carousel { grid-area: 2 / 2 / 5 / 3; } 
    
@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}