body {
background-image:url(https://images.pexels.com/photos/949590/pexels-photo-949590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
background-repeat:initial;
background-size: cover;
background-attachment: fixed;
font-weight: bold;
} 
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #81713391


}
.navbar {
    background-color: #3f34113f;
    height: 45px;
    padding: 0;
    margin: 0
    ;
}

p {
    color: #4d2918;
}
ul { 
    color: #746c52;
}
* {
    
    font-family: 'Playfair Display';
}
a{ text-decoration: none;
    color: #0a0905f1
    
    
    }

.footer { 
    color: aliceblue;
    background-color: #3f34113f;
    height: 45px;
    padding: 0;
    margin: 0;
    text-align: right;
}
.listas ul {
list-style-type:none;
color: #141414;
}
.clasif {
    
    color: #1d1c18;
}
.clasif p {
    background-color: #3f34113f
}
* {
    color: #141414;
}
.envio {
    text-align: center;
    display: flow-root;
}
#ofertas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 25px;
    flex-direction: row;
   justify-content: space-around;
 }
 
 
 #envios {
    max-width: 50%;
    border: 2px solid red;
    height: 30px;
    text-align: left;
    

 }
 #regalos {
    max-width: 50%;
    border: 2px solid ;
    height: 30px;
    text-align: right;

 }
 #cuotas {
    max-width: 50%;
    border: 2px solid ;
    height: 30px
 }
 .conoce {
    text-align: center;
 }