body {background-color: rgba(243, 234, 230, 0.842);
background-repeat:initial;
background-size: cover;
background-attachment: fixed;
border-image: fill;

 
}

h1 {color:#18120dd0 ;
font-weight: bold ;
font-size: 70px;


}
p{
    font-style: oblique;
}


.text-brown{
    color: #383731;
    color: #16110d2a;
    
    font-weight: bold
}

.size-15{
    font-size: 15px;
}

#primer {
    background-color: #928d7b4b; 
padding: 25px; 
}

*{
     font-family: 'Playfair Display', serif;
     text-decoration: solid;
     font-weight: bold;

}
a{ text-decoration: none;
color: #0a0905f1
}








.caja p{
    background-position: 40px ;
    background-color: none;
    margin: 5px;
    border: 14px double #44403349 ;
    text-align: center;



}
.navbare ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #e7dacb91;
    background-color: #fcf7e73f


}
.navbare {
    background-color: #fcf7e73f;
    height: 45px;
    padding: 0;
    margin: 0
    ;
}

.footer { 
    color: aliceblue;
    background-color: #3f34113f;
    height: 45px;
    padding: 0;
    margin: 0;
    text-align: right;
}
.info { 
    background-color: #fcfaf7;
    border: 14px double #44403349;
    color: black;
}
.item{

    background-color: #f5e9e02a;

    border: 1px solid #bead9e color;
 
    
 
    font-family: 'Playfair Display';
 
    color: rgb(20, 16, 8);
    text-align: center;
    
 
  }
  .ingred {
    font-weight: bolder;
  }
  